@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');
.trial-1{
    display: flex;
    flex-direction:  column;
    

}
.last-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-right: 10%; */
}

.ragda{
    justify-content: space;
    width: 100%;
}